# Compiled output
dist/
build/

# Temporary files and folders
tmp/
temp/
out-tsc/

# Node modules
node_modules/

# IDE settings
.vscode/
.idea/

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/

# Angular build cache
.angular/

# Compiled JavaScript files
*.js
*.js.map

# Compiled TypeScript files
*.d.ts

# Generated environment files
src/environments/environment*.ts

# System files
.DS_Store
Thumbs.db

# Git configuration files
*.orig

# Misc
coverage/
karma-coverage/
.sass-cache/
*.sass-cache
*.log